
@using LMSApp.Services.Models.Users
@using LMSApp.Services.CommonInterfaces
@using System.Linq

@inject IEducatorService educatorService
@inject IUserService userService

@model IEnumerable<UserListViewModel>


@{
    ViewData["Title"] = "All";
}

<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">Name & Username</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="align-content-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div>
                                @user.FirstName @user.FamilyName (@user.UserName)
                            </div>
                            @*<div><a class="btn btn-primary btn-sm m-sm-1" asp-action="Edit" asp-route-userId="@user.Id">Edit</a></div>*@
                        </div>
                    </td>
                    <td class="text-center">
                        @user.Email
                    </td>
                    <td class="text-center">
                        <div class="d-flex flex-row justify-content-start align-items-center">
                            @{ if (user.IsAdmin)
                                {
                                    <div class="font-weight-bold m-sm-2" style="color: red">Admin</div>
                                }
                                else
                                {

                                    if (user.IsLockedOut)

                                    {
                                        <a class="m-sm-2 font-weight-bold btn btn-danger" asp-action="Unlock" asp-route-userId="@user.Id">
                                            Unlock
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="m-sm-2 font-weight-bold btn btn-danger" asp-action="Ban" asp-route-userId="@user.Id">
                                            Ban
                                        </a>
                                    }

                                }
                            }
                            @if (this.educatorService.GetByUserId(user.Id) != null)
                            {
                                var educatorBtn = user.IsEducator == true ? "Remove as Educator" : "Make Educator";
                                <a class="m-sm-2 btn btn-d-custom" asp-action="ChangeEducatorStatus" asp-route-userId="@user.Id">
                                    @educatorBtn
                                </a>
                            }
                            @if (this.userService.GetStudentByUserId(user.Id) != null)
                            {
                                var studentBtn = user.IsStudent == true ? "Remove as Student" : "Make Student";
                                <a class="m-sm-2 btn btn-secondary" asp-action="ChangeStudentStatus" asp-route-userId="@user.Id">
                                    @studentBtn
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

