
@using LMSApp.Services.Models.Users

@model IEnumerable<StudentListViewModel>


@{
    ViewData["Title"] = "All";
}

<h5>Filter Students</h5>
@{var filters = new StudentsFilterModel();
    filters.ForAction = "AllStudents";}

<partial name="_StudentFilter" for="@filters" />

<hr class="hr-custom-dark" />

<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">Uni Id</th>
                <th scope="col" class="text-center">Major</th>
                <th scope="col" class="text-center">Group</th>
                <th scope="col" class="text-center">Faculty name</th>
                <th scope="col" class="text-center">Name & Username</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Last seen</th>
                <th scope="col" class="text-center">Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="text-center">
                        @user.StudentUniId
                    </td>
                    <td class="text-center">
                        @user.Major
                    </td>
                    <td class="text-center">
                        <div>
                            @user.GroupNumber (id: @user.GroupId)
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            @user.FacultyName
                        </div>
                    </td>
                    <td class="align-content-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div>
                                @user.UserInfo.FirstName @user.UserInfo.FamilyName (@user.UserInfo.UserName)
                            </div>
                            <div><a class="btn btn-primary btn-sm m-sm-1" asp-action="Edit" asp-route-userId="@user.Id">Edit</a></div>
                        </div>
                    </td>
                    <td class="text-center">
                        @user.UserInfo.Email
                    </td>
                    <td class="text-center">
                        <div>
                            @user.LastSeen
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="d-flex flex-column justify-content-center align-items-around">
                            <a class="m-sm-1" asp-action="ChangeStudent" asp-route-userId="@user.UserId">
                                Remove as Student
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

