@using LMSApp.Data.Models
@using LMSApp.Services.Models.Courses

@model IList<LectureciseShortViewModel>

@inject UserManager<LMSAppUser> UserManager

@{var currentUser = await UserManager.GetUserAsync(this.User);}

@if (Model.Count() != 0)
{
    <table class="table table-responsive col-12" id="lecturecise-list">
        <thead>
            <tr>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center th-hide">Students</th>
                <th scope="col" class="text-center">Time</th>
                <th scope="col" class="text-center">Educators</th>
                @if (await UserManager.IsInRoleAsync(currentUser, "Admin") || await UserManager.IsInRoleAsync(currentUser, "Educator"))
                {
                    <th scope="col" class="text-center">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var lecturecise in Model)
            {
                <tr>
                    <td class="text-center">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                @lecturecise.Type
                            </div>
                            <div>
                                @lecturecise.Held
                            </div>
                        </div>
                    </td>
                    <td class="text-center td-hide">
                        @lecturecise.StudentNumber
                    </td>
                    <td class="text-center">
                        @lecturecise.WeekTimes
                    </td>

                    @if (await UserManager.IsInRoleAsync(currentUser, "Admin") || await UserManager.IsInRoleAsync(currentUser, "Educator"))
                    {
                        <td class="align-content-center">
                            <div class="d-flex flex-column align-items-center">
                                <div>
                                    @lecturecise.EducatorNames
                                </div>
                                <div>
                                    @{ViewData["lectureciseId"] = lecturecise.Id;}
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="d-flex flex-row  justify-content-center align-items-center">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <a class="btn btn-d-custom btn-sm mx-sm-1"
                                       asp-area="Educator" asp-controller="Lecturecises" asp-action="AddStudentsToLecturecise" asp-route-lectureciseId="@lecturecise.Id">
                                        Add Students
                                    </a>
                                </div>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <a class="btn btn-primary btn-sm mx-sm-1"
                                       asp-area="Educator" asp-controller="Lecturecises" asp-action="Edit" asp-route-lectureciseId="@lecturecise.Id">
                                        Edit
                                    </a>
                                </div>
                                @if (await UserManager.IsInRoleAsync(currentUser, "Admin"))
                                {
                                    <div class="p-md-2">
                                        <a class="btn btn-danger btn-sm mx-sm-1"
                                           asp-area="Admin" asp-controller="Lecturecises" asp-action="Delete" asp-route-lectureciseId="@lecturecise.Id"
                                           onclick="return confirm('Are you sure you wish to remove this Lecturecise?');">
                                            Delete
                                        </a>
                                    </div>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}