
@using LMSApp.Services.Models.Assignments

@model IList<AssignmentListViewModel>
@*@inject UserManager<LMSAppUser> UserManager

    @{var currentUser = await UserManager.GetUserAsync(this.User);}*@

@if (Model.Count() != 0)
{
    <table class="table table-responsive col-12" id="lecturecise-list">
        <thead>
            <tr>
                <th scope="col" class="text-center">Name & Type</th>
                <th scope="col" class="text-center">From</th>
                <th scope="col" class="text-center">Students</th>
                <th scope="col" class="text-center">Course</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asgn in Model)
            {
                <tr>
                    <td class="text-center">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                @asgn.Name
                            </div>
                            <div>
                                @asgn.AssignmentType
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        @asgn.DateCreated
                    </td>
                    <td class="text-center">
                        @asgn.NumberOfStudents
                    </td>
                    <td class="align-content-center">
                        <div>
                            @asgn.CourseHeld
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="d-flex flex-row  justify-content-center align-items-center">
                            @*<div class="d-flex flex-column justify-content-center align-items-center">
                                    <a class="btn btn-d-custom btn-sm mx-sm-1"
                                       asp-area="Educator" asp-controller="Lecturecises" asp-action="AddStudentsToLecturecise" asp-route-lectureciseId="@lecturecise.Id">
                                        Add Students
                                    </a>
                                </div>*@
                            @*@if (await UserManager.IsInRoleAsync(currentUser, "Admin"))
                                {*@
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <a class="btn btn-d-custom btn-sm mx-sm-1"
                                   asp-area="Educator" asp-controller="Assignments" asp-action="StudentAssignmentsManage" asp-route-asgnId="@asgn.Id">
                                    Manage & Grade
                                </a>
                            </div>

                            </div>

                            @*<div class="p-md-2">
                                    <a class="btn btn-danger btn-sm mx-sm-1"
                                       asp-area="Admin" asp-controller="Lecturecises" asp-action="Delete" asp-route-lectureciseId="@lecturecise.Id"
                                       onclick="return confirm('Are you sure you wish to remove this Lecturecise?');">
                                        Delete
                                    </a>
                                </div>*@
                            @*}*@
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}